body
{
    background-color: rgb(66, 102, 138)
}




body h1
{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-top: 25px;
}

.img_personne
{
    float: right;
    max-width:  150px;
    max-height: 150px;
    padding-right: 25px;
}

body h1:hover
{
    text-decoration: red underline;
}

li
{
    font-size: 1.2em;
}

ul
{
    margin-bottom: 10px;
}

h3
{
    font-size: 2em;
    text-decoration: aqua underline;
    clear: both;
    margin-bottom: 10px;
}

footer
{
    width: 100%;
    height: 100px;
    text-align: right;
    background-color: #686868;
    position: absolute;
    bottom: 0px;
    color: white;
    border-top: 1px black solid;
}