body
{
    font-family: 'Arvo', serif;
    background-color: #336699;
}

h1
{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

.txt_span1
{
    display: none;
    height: 500px;
    width: 250px;
    word-wrap: break-word;
    overflow: auto;
    margin-left: 50px;
    position: relative;
    top: -500px;
    right: -200px;

}


.span1:hover + .txt_span1
{
    display: block;
}

.span1:hover
{
    background-color: red;
}

.span1
{
    border-radius: 50%;
    opacity: 0.65;
    width: 100px;
    height: 88px;
    background-color: black;

    position: relative;
    left: -123px;
    display: inline-block;
    top: -405px;
}



.txt_span2
{
    display: none;
    height: 500px;
    width: 250px;
    word-wrap: break-word;
    overflow: auto;
    margin-left: 50px;
    position: relative;
    top: -500px;
    right: -200px;

}

.span2:hover + .txt_span2
{
    display: block;
}

.span2:hover
{
    background-color: red;
}

.span2
{
    border-radius: 50%;
    opacity: 0.65;
    width: 60px;
    height: 60px;
    background-color: black;

    position: relative;
    display: inline-block;
    top: -355px;
    left: -260px;
}

.test
{
    background-image: url("images/qjix.png");
    background-attachment: fixed;
}

#test_img
{
    width: 750px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

main
{
    max-height: 1500px;
}