    body
{
    font-family: 'Arvo', serif;
    background-color: #336699;
}

h1
{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

#corps
{
    background-image: url(../images/qijx.png);
    height: 500px;
    width: 140px;
    margin-left: 500px;
}

.invisible
{
    display: none;
}

.cercle
{
    position: absolute;
    background-color: black;
    opacity: 0.75;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.cercle:hover
{
    background-color: red;
}

.span1
{
    margin-top: 85px;
}

.span2
{
    margin-top: 235px;
    margin-left: -10px;
}

.span3
{
    margin-top: 175px;
    margin-left: 100px;
}
