<header>
    <h1>Laisser des souvenirs de vous !</h1>
</header>

<main>
    <div class="container_circle">
        <div class="circle">
            <h2>Enregistrer</h2>
        </div>

        <div class="circle">
            <h2>Stocker</h2>
        </div>

        <div class="circle">
            <h2>Héréditer</h2>
        </div>
    </div>

    <div class="container_squares">
        <div class="container_square">
            <div class="square"></div>
            <p>Texte détails Enregistrer</p>
        </div>

        <div class="container_square">
            <p>Texte détails Stocker</p>
            <div class="square"></div>
        </div>

        <div class="container_square">
            <div class="square"></div>
            <p>Texte détails Héréditer</p>
        </div>
    </div>

    <div class="img">
        ' profils publiques '
        {{#each articles}}
            <a href="/articles/{{_id}}">{{title}}</a>
        {{/each}}
    </div>
</main>



<footer>
    <p>Copyright &copy; 2018</p>
</footer>