body
{
  font-size: 20px;
  text-align: center;
  background: url('images/fond_site.jpg');


}

#coordonnees
{
  text-align: left;
  margin-bottom: 15px;
}


#bloc_page
{
  /*
  display:flex;
  justify-content: space-around;
  */

  text-align: left;
  margin-left: 70px;
  margin-top: 50px;

}

.photo
{
  float: right;

}

h3
{
  text-decoration: underline;
}

h3:hover
{
  color: blue;
  font-size: 25px;
  font-family: serif;
}

.photo:hover
{
  width: 800px;
  height: 800px;
}
