body
{
  font-size: 20px;
  text-align: center;
  background: url('images/fond_site.jpg');


}

#coordonnees
{
  text-align: left;
  margin-bottom: 15px;
}


#bloc_page
{
  /*
  display:flex;
  justify-content: space-around;
  */

  text-align: left;
  margin-left: 70px;
  margin-top: 50px;

}

.photo
{
  float: right;

}

h3
{
  text-decoration: underline;
  max-width: 400px;
}

h3:hover
{
  color: blue;
  font-size: 25px;
  font-family: serif;
}

.photo:hover
{
  width: 150px;
  height: 150px;
}

.bouton
{
    color:#0000ff;
    font-size:24px;
    cursor:pointer;
}
.bouton:hover
{
    text-decoration:underline;
}
.texte
{
    border:1px solid #333333;
    background:#eeeeee;
    padding:10px;
    color:#333333;
}
.texte:hover
{
    border:1px solid #000000;
    background:#cccccc;
    color:#000000;
}
