@import url('https://fonts.googleapis.com/css?family=Montserrat');

html
{
    font-size: 62.5%;
}

body
{
    font-size: 2rem;
    background-color: #333333;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

form
{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label
{
    width: 250px;
    /* align-self: baseline; */
    margin-bottom: 10px;
}

input, textarea
{
    width: 250px;
    background: transparent;
    color: white;
    font-size: 1.4rem;
    border: 2px solid white;
    text-indent: 5px;
    margin-bottom: 10px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
}

textarea
{
    width: 245px;
    height: 75px;
    text-indent: 0;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.img_profile
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

p
{
    margin-top: 10px;
    margin-bottom: 50px;
}

.btn {
    width: 125px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    background: #09d4d1;
    background-image: linear-gradient(to bottom, #09d4d1, #01b0e5);
    border-radius: 28px;
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    font-size: 1.4rem;
    text-decoration: none;
    border: 0;
  }
  .btn1 {
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    background: #09d4d1;
    background-image: linear-gradient(to bottom, #09d4d1, #01b0e5);
    border-radius: 28px;
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    font-size: 1.4rem;
    text-decoration: none;
    border: 0;
  }

.hide {
  display: none;
}

.pinfos {
  width: 250px;
  background: transparent;
  color: white;
  font-size: 1.4rem;
  text-indent: 5px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
}
.btnannuler{
  height: 100px;
  width: 100px;
  background-color: black;
}
.crossGestionCompte
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 25px;
    margin-left: 25px;
}
.crossGestionCompte:hover
{
    color: white;
}
.crossDescription
{
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    
}
.crossDescription:hover
{
    color: white;
}