<form action="/demandes/" method="POST">
<div class="containerFormIndex">
    <h1>FORMULAIRE DE DEMANDE</h1>
    <label for="demandeur">DEMANDEUR :</label>
    <input type="text" name="demandeur">
    <label for="categorie">CATEGORIE :</label>
    <input type="text" name="categorie">
    <label for="objet">OBJET :</label>
    <input type="text" name="objet">
    <label for="details">DETAILS :</label>
    <textarea name="details"cols="30" rows="10"></textarea>
    <input class="btnGreen" type="submit" value="VALIDER LA DEMANDE">
</div>
</form>